
body{
    background-image: url('img/carpet.jpg');
    background-repeat:repeat;
    background-size:600px;


}
.floppy-container{
    margin: auto;
    width: 45%;

}

.floppy-container img{
    position: absolute;

}

.screen{
z-index: 0;
width: 420px;
height: 250px;
position: absolute;
left: 700px;
top: 165px;

}

.floppy{
    max-width: 350px;
    min-width: 250px;
    transition-property: rotate;
    transition-duration: 1s;
}

.floppy:hover{
rotate: 20deg;
}

#PSA:hover{
    rotate: -20deg;
}

#PSA{
    left: 200px;
    top:350px;
}

#CPS{
    top: 0px;
    left: 200px;
}

#TRANS{
    left: 0%;
    top: 200px
}

#comp{
    width: 750px;
    z-index: 1;
    position: absolute;
    left: 500px;
}
