/* fonts */
/* .syne-tactile-regular {
    font-family: "Syne Tactile", system-ui;
    font-weight: 400;
    font-style: normal;
  } */

  /* .jacquarda-bastarda-9-regular {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
  } */
*{
    box-sizing: border-box;
}
  body {
    /* background-image: url('img/super8_glitch.gif'); */
    /* background-image: url('img/super8.jpg'); */
        background-image: url('img/Hole\ _3.gif');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    min-height: 103vh;
    display: flex;
    align-items: center;

  }

.container{
  width: 100%;
  max-width: 960px;
  margin: auto;


}

.flex-container{
  display:flex;
  align-items:center;
  justify-content: flex-end;

}

.title{
  color: white;
  height: 100px;
  text-align: center;
  /* border: 2px solid white; */
  
}


.bio-container{
  border: 2px solid pink;
  box-shadow: -8px 8px  pink;
  width: 50%;
  max-height: 300px;
  min-width: 350px;
  max-width: 350px;
  height: 70vh;
  display:flex;
  position: relative;
  /* background-image: url('img/fehler_vhs.gif'); */
  /* background-size:cover; */

}

.bio-container img{
  width: 100%;
  
}

.bio{
    color: white;
    padding: 25px;
    display: block;
    position: absolute;

}

.nav{
width: 50%;
}

nav a{ /*styles for links only*/
    color: white;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px; 
    /* text-shadow: -2px 2px pink; */
    border: 2px solid pink;
    box-shadow: -8px 8px  pink;
    /* background-image: url('img/fehler_vhs_2.gif');
     */
}

.nav-item{ /*lacement for things in the nav*/
  padding: 10px;
  margin-bottom: 1em;
  margin-left: 1em;
  display: block;
  text-align: center;
  max-width: 250px;
  min-width: 100px;

}

nav a:hover{
    font-family: "Syne Tactile", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: pink;
    box-shadow: -8px 8px  grey;

}



  