/* fonts */
/* .syne-tactile-regular {
    font-family: "Syne Tactile", system-ui;
    font-weight: 400;
    font-style: normal;
  } */

  /* .jacquarda-bastarda-9-regular {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
  } */
*{
    box-sizing: border-box;
}
  body {
    background-image: url('img/super8_glitch.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
  }

.title{
  color: white;
  height: 100px;
}

.grid-container{
  /* margin: 0px auto; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  gap: 2em;
}

.grid-container > div:nth-child(1){
grid-row: 1 / span 4;
}

.grid-container > div:nth-child(2){
  grid-row: 2 / span 3;
  height: 50%;
}

.grid-container > div:nth-child(3){
  grid-column: 3 / span 1;
  grid-row: 2 /span 1;
}

.grid-container > div:nth-child(4){
  grid-row: 2 / span 2;
  }

.grid-container > div:nth-child(5){
   grid-row: 1 / span 4;
 
  }

.bio-container{
  border: 2px solid pink;
  box-shadow: -8px 8px  pink;


}
.bio{
    color: white;
    padding:25px;
    display: block;
}


.blank-space{
  color: white;
  height: 100%;
}

nav a{
    color: white;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px; 
    /* text-shadow: -2px 2px pink; */
    border: 2px solid pink;
    box-shadow: -8px 8px  pink;
    padding: 15px;
    /* margin: 1em; */
    display: block;
}

nav a:hover{
    font-family: "Syne Tactile", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: pink;
    box-shadow: -8px 8px  pink;

}



  