body{
	background-size:365px 200px;
	display: grid;
    /* place-content: center; */
	grid-template-columns: 200px auto;
	grid-template-rows: 2fr;
	justify-content:center;
	align-content:center;
	column-gap:50px;
	row-gap:30px;

}


.video-container{
	margin: auto;

	background-image: url('img/YoutubeTV.png');
	background-repeat: no-repeat;
  	background-size:contain;
	width: 1050px;
	height: 525px;

}



iframe{
border-radius: 40px;
position: relative;
top:65px;
left: 65px;
width: 580px;
height:380px;


}
.nav{
	width: 40%;
	min-width: 200px;

	padding-left: 20px;
	margin:auto;

}

.nav-item{
	background-color: black;
}
.bottom-text{
	grid-area: 2/2;
	display: grid;
	grid-template-columns: auto auto auto;
	width: 890px;
	justify-content: center;
	gap: 20px;
	
}

.backward{
	grid-column-start: 1;
	transform: rotate(-180deg);
}

.carrot{
	background-color:white;
	text-align: center;
	margin:auto;
	min-width: 40px;

}

.carrot img{
	padding:2px;
	
}

.description{
	text-align: center;
	background-color:black;
	color:antiquewhite;
	box-shadow: 12px 12px #888888;

	margin-top: 10px;
	padding: 20px;
	grid-column-start:2;
}
.forward{
	grid-column-start: 3;
	
}

.description img{
	width: 200px;
	
}
