body{
	background-size:365px 200px;
	display: grid;
    /* place-content: center; */
	grid-template-columns: 200px auto;
	grid-template-rows: 2fr;
	justify-content:center;
	align-content:center;
	column-gap:50px;

}

.wrapper{
	padding-top: 25px;
}

.video-container{
	margin: auto;
	background-image: url('img/YoutubeTV.png');
	background-repeat: no-repeat;
  	background-size:contain;
	width: 900px;
	height: 525px;

}

iframe{
    border-radius: 40px;
    position: relative;
    top:60px;
    left: 65px;
    width: 560px;
    height:380px;
    
    
    }

.nav{
        width: 40%;
        min-width: 200px;
        padding-left: 20px;
        margin:auto;
    
    }

nav a:hover{

    background-color:  rgb(255, 105, 105);
	border: 2px solid  rgb(255, 105, 105);
    box-shadow: -8px 8px  rgb(199, 199, 199);
}

.nav-item{
	background-color: black;
	border: 2px solid black;
    box-shadow: -8px 8px  rgb(255, 105, 105);
}

.bottom-text{
	grid-area: 2/2;
	display: grid;
	grid-template-columns: auto auto auto;
	width: 890px;
	justify-content: center;
	gap: 20px;
	
}

.backward{
	grid-column-start: 1;
	transform: rotate(-180deg);
}

.carrot{
	background-color:white;
	text-align: center;
	margin:auto;
	min-width: 40px;

}

.carrot img{
	padding:2px;
	
}

.description{
	text-align: center;
	background-color:black;
	color:antiquewhite;
	box-shadow: 12px 12px #888888;

	margin-top: 10px;
	padding: 20px;
	grid-column-start:2;
}
.forward{
	grid-column-start: 3;
	
}

.description img{
	width: 200px;
	
}