body{
    background:conic-gradient(black 90%,grey); 
    background-size: auto;
    background-size: 20px 20px;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    margin: auto;
    font-size: 32px;
    color: rgb(209, 209, 209);
    text-shadow: -2px 2px rgb(204, 51, 51);
}
.container{
    display: grid;
    /* place-content: center; */
	grid-template-columns: auto auto auto;
	justify-content:center;
	align-content:center;
}

.video-container{
    margin: auto;
	background-image: url('img/TVnoScreen.gif');
	background-repeat: no-repeat;
  	background-size:contain;
	height: 525px;
}

.video-list{
    width: 100%;
    min-width: 250px;
    max-width: 275px;
 
}

.video-list img{
    width: 100%;
}

.tapes{
    padding: 10px;
margin-bottom: 1em;
display: block;

}

.tape1{
    transform: rotate(-20deg);
    transition: width 2s, height 2s, transform 4s;
  
}
.tape2{
    transform: rotate(20deg);
    transition: width 2s, height 2s, transform 4s;
}



.tape1:hover{
    transform: rotate(360deg);
}

.tape2:hover{
    transform: rotate(-360deg);
}

.home-button{

    background: rgb(209, 209, 209);
    font-weight: 400;

    font-size: 22px; 
    /* text-shadow: -2px 2px pink; */
    border: 2px solid rgb(204, 51, 51);
    box-shadow: -8px 8px  rgb(204, 51, 51);
    text-decoration: none;
    text-align: center;
    padding: 10px;
 margin: auto;
    display: block;
    color: black;
    width: 8%;
}

.home-button a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.home-button:hover{
    font-weight: 400;
    font-style: normal;
    background-color: rgb(204, 51, 51);
    color: white;
    box-shadow: -8px 8px  rgb(199, 199, 199);

}

@media (max-width: 850px) {
    .TV{
        display:none;
    }

    .title{
        font-size: 64px;
        margin: 5%;
    }

    .title h3{
        margin: 15px;
    }

    .tape1{
    transform: rotate(0deg); 
    transition: transform 1s;
    }

    .tape2{
        transform: rotate(0deg);
        transition: transform 1s;
    }

    .tapes{
        padding: 0px;
    }
    
     .container{
        grid-template-columns: auto;
    }
    .home-button{
        width: 50%;
    }

    .video-list{
        max-width: 100%;
    }
}